:root {
    --cor5: #0F0612;
    --cor4: #471457;
    --cor3: #794887;
    --cor2: #996AA8;
    --cor1: #EBDFEE;
    --cor0: #ffffff;
    --cor00: #e9e9eb;
}

.cor0 {
    color: #ffffff;;
}

.cor01 {
    color: #EBDFEE;
}

.cor02 {
    color: #996AA8;
}

.cor03 {
    color: #794887;
}

.cor04 {
    color: #471457;
}

.cor05 {
    color: #0F0612;
}

.tx-01 {
    margin-bottom: 40px;
}

.tx-02 {
    font-size: 32px;
}

.tx-03 {
    line-height: 1.6em;
    font-size: 24px;
}

.tx-04 {
    line-height: 1.6em;
}

.bold {
    font-weight: bold;
}

