html {
    scroll-behavior: smooth;
}
.sobre-container {
    padding: 80px 200px 40px 200px;
    margin: auto;
    background-color: var(--cor00);
}

.sobre {
    text-align: center;
}

.redes {
    display: flex;
    gap: 16px;
    justify-content: center;
}



@media (max-width: 800px) {
    .sobre-container {
        padding: 60px 20px;
    }

    .redes {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .sobre-container {
        padding: 60px 20px;
    }

    .redes {
        flex-wrap: wrap;
        justify-content: center;
    }
}